.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  background-color: aquamarine;
  /* padding: 2px; */
  border-top: solid 1px green;
  /* margin-top: 80%; */
}

.footer_p {
  vertical-align: text-top;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listicon {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
}

.github {
  padding-left: 95%;
}
.github .listicon {
  text-align: center;
}
