.footer {
  position: fixed;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: aquamarine;
  /* padding: 2px; */
  background-color: #8edf79;
  border-top: solid 1px;
}

.footer_p {
  vertical-align: middle;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.facebook_listicon {
  margin-left: 25vw;
  margin-top: 60px;
  position: fixed;
  vertical-align: middle;
}

.github_listicon {
  display: flex;
  margin-left: 70vw;
  margin-bottom: 25px;
}
